{% include "State.jinja" %}

{% block class_defs %}
{% if 'class_GripperInterfaceState' not in defined_headers %}
class GripperInterfaceState(smach.State):
    def __init__(self, gripper_interfaces):
        smach.State.__init__(self, input_keys = ['limb', 'command'], outcomes=['succeeded', 'aborted'])
        self._gripper_interfaces = gripper_interfaces

    def execute(self, userdata):
        # Get limb + command from userdata
        limb = userdata.limb
        command = userdata.command

        # Parse command
        if isinstance(command, str):
            pass
        elif isinstance(command, list):
            if isinstance(command[0], str):
                command = command[0]
            else:
                return 'aborted'
        else:
            return 'aborted'

        if command == 'open':
            self._gripper_interfaces[limb].open()
            rospy.sleep(1.0)
        elif command == 'close':
            self._gripper_interfaces[limb].close()
            rospy.sleep(1.0)
        else:
            return 'aborted'

        return 'succeeded'
{% do defined_headers.append('class_GripperInterfaceState') %}
{% endif %}
{% endblock class_defs %}

{% block main_def %}
{% if 'gripper_interfaces' not in defined_headers %}
print("Initializing interfaces for each gripper... ")
gripper_interfaces = dict()
gripper_interfaces['left'] = baxter_interface.Gripper('left')
gripper_interfaces['right'] = baxter_interface.Gripper('right')
{% do defined_headers.append('gripper_interfaces') %}
{% endif %}
{% endblock main_def %}

{% block header %}
{% endblock header %}

{% block body %}
smach.{{ parent_type }}.add('{{ name }}',
{{ '' | indent(23, true) }}GripperInterfaceState(gripper_interfaces){% if transitions is defined %},
{{ 'transitions=' | indent(23, true) }}{{ '{' }}{% for outcome, transition in transitions.items() | sort %}'{{ outcome }}':'{{ transition }}'{% if not loop.last %},
{{ '' | indent(36, true) }}{% endif %}{% endfor %}{{ '}' }}{% endif %}{% if remapping is defined %},
{{ 'remapping=' | indent(23, true) }}{{ '{' }}{% for state_key, userdata_key in remapping.items() | sort %}'{{ state_key }}':'{{ userdata_key }}'{% if not loop.last %},
{{ '' | indent(34, true) }}{% endif %}{% endfor %}{{ '}' }}{% endif %})
{% endblock body %}
